.sidebar {
    width: 250px;
    display: none;
    flex-shrink: 0;
    border-right: var(--border-solid-sp);
    padding-top: 30px;
}

.sidebar-enabled {
    display: block;
}

.group-name {
    color: var(--brand-color);
    font-size: 0.90rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: default;
    text-transform: uppercase;
}

.links {
    margin: var(--sidebar-x-margin);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.link {
    font-size: 1.1rem;
    color: var(--sidebar-link-color);
    transition: all 150ms linear;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: var(--sidebar-link-border-radius);
    padding-left: 15px;
}

.link span {
    margin-right: 8px;
}

.link:hover {
    color: var(--sidebar-link-color-hover);
    background: var(--sidebar-link-bg-hover);
}

.link.active {
    color: var(--sidebar-link-color-active);
    background: var(--sidebar-link-bg-active);
}