@import "_reset.css";
@import "_fonts.css";
@import "_scrollbar.css";

:root {
    --main-bg-color: #011627;
    --main-color: #fff;
    --brand-color: #59d098;
    --primary-button-color: #ddbdfc;
    --border-solid-sp: 1px solid #1e313f;
    --sidebar-x-margin: 0 10px;
    --sidebar-link-color: rgba(255, 255, 255, 0.4);
    --sidebar-link-color-hover: rgba(255, 255, 255, 0.7);
    --sidebar-link-color-active: rgba(255, 255, 255);
    --sidebar-link-bg-hover: rgba(40, 40, 40, 0.6);
    --sidebar-link-bg-active: rgba(40, 40, 40, 0.8);
    --sidebar-link-border-radius: 5px;
    --navbar-main-color: rgba(255, 255, 255, 0.4);
    --navbar-main-color-hover: rgba(255, 255, 255);
    --navbar-button-bg-color: rgba(40, 40, 40, 0.5);
    --navbar-button-bg-color-hover: rgba(40, 40, 40);
}

html,
body {
    background: var(--main-bg-color);
    color: var(--main-color);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}


box-icon {
    color: inherit;
    fill: currentColor;
    font-size: inherit;
}