.footer {
    display: flex;
    align-items: center;
    height: 50px;
    border-top: var(--border-solid-sp);
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 600px) {
    .footer {
        justify-content: center;
        text-align: center;
    }
}